<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Sitio Fotografo{% endblock %}</title>
        {% block stylesheets %}

{% endblock %}
        {% block cabecera %}{% endblock %}
    </head>
    <body>
        {% block cuerpo %}
            
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
