

#encabezado{
    width: 100%;
    height: 173px;
}

#contenedor_encabezado{
    width: 100%;
    height: 173px;
}

#contenedor_nav_registro {
    background-color: black;
    width: 100%;
    height: 48px;
    border-bottom: 3px solid white;
}

#contenedor_logo_menu {
    background-color: #F1ED90;
    width: 100%;
    height: 125px;
}

#cuerpo{
    width: 100%;
    height: 1547px;
}

#contenedor_cuerpo {
    width: 970px;
    margin: 0 auto;
    padding: 1% 0 6% 0;
    overflow: visible;
    min-height: 100%;
}